*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}
header nav ul{
    list-style: none;
    text-align: center;    
}
header nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.encabezado{
    position: sticky;
    top: 0px;
    background-color: #19647E;
    font-weight: bolder;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.encabezado nav ul {
    display: flex;
    gap: 100px;
}
.encabezado li{
    display: inline-block;
}
main{
    background-color: #37392D;
    letter-spacing: 2px;
    padding: 20px;
    color: #ECEDE8;
}
.falso-body main{
    height: 80vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    column-gap: 30px;
    justify-content: space-around;    
}
.falso-body main .presentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.imagen-principal{
    display: flex;
}
.imagen-principal img{
    max-width: 100%;
}
.imagen-banda{
    display: flex;
    justify-content: center;
}
.titulo{
    text-align: center;
    font-size: 45px;
    padding: 20px;
    text-decoration: underline;
}
.pie{
    background-color: #19647E;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 15px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pie p{
    padding: 20px;
}
.pie img{
    width: 30px;
    height: 30px;    
}
.tour table td{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}   
h2{
    text-decoration: underline;
    padding: 20px;
}
.banda{
    display: flex;
    justify-content: space-evenly;
}
.banda .temas{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.temas img{
    margin: 20px;    
    width: 30vh;
}
.temas div h3{
    text-decoration: underline;
}
.temas li{
    list-style: none;
}
.banda iframe{
    margin: 20px;
}
#galeria{
    display: grid;
}
#galeria article{
    padding: 20px; 
}
#galeria article img{
    margin: 20px;
    width: 30%;
    height: 40%;
}
#form p{
    font-size: 20px;
    margin-bottom: 15px;
}
#contact{
    height: 80vh;
}