@import "../utilidades/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}
body{
    background-image: url(../assets/coldplay-imagen-de-fondo-modified.jpg);
    background-attachment: fixed; 
    background-size: cover;
}
.titulo{
    text-align: center;
    font-size: 45px;
    padding: $padding-main;
    text-decoration: underline;
}
h2{
    text-decoration: underline;
    padding: $padding-main;
}