//variables de color
$color-body: #1d3557;
$color-header: #3e647c;
$color-font: whitesmoke;
$color-button: #19647E;
$color-button_hover: #09a8dd;

//listas de tamaños de letras
$list-fontsize: 2rem, 1.5rem, 1rem, 0.7rem;

//padding
$padding-main:20px;
$padding-mq: 0.5rem;
